<IfModule mod_rewrite.c>
	# Add 'rw' parameter, so we can detect whether mod_rewrite is enabled
	RewriteEngine on
	RewriteRule ^$ src/index.php?rw
	
	# Rewrite everything to src/index.php if it is not a real file or directory
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ src/index.php?rw=$1
</IfModule>
